<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
    <key>applicationId</key>
    <string>d3528058-c161-4f11-8304-0e00f77dfbde</string>
    <key>organizationId</key>
    <string>64cce65f97fb307ad6f3d1e9</string>
    <key>secretKey</key>
    <string>zv5bqnq95kxz6ai7ln7zy6kq56bvp4ag9qz1s82qxnf6epk8</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>For the purpose of using the microphone. For example, for a call or live interactive streaming session.</string>
	<key>NSCameraUsageDescription</key>
	<string>For the purpose of using the camera. For example, for a call or live interactive streaming session.</string>
</dict>
</plist>
