<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>trainig.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50C649862D3AF1D400B095A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50C6499C2D3AF1D500B095A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50C649A62D3AF1D500B095A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
